#footer {
    position: absolute;
    bottom: 0px;
    background-color: rgb(35, 0, 49);
    width: 100%;
    text-align: center;
    color:antiquewhite;
}


@media screen and (device-width: 360px) and (device-height: 640px) {
    #footer{
        viewport-fit:unset;
    }
}
